html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: #000;
}
h4 {
  font-size: 2.5rem;
  margin: 3rem 0 1rem 0;
}

/* Utilidades */
.text-center {
  text-align: center;
}

/* Cabezera */

.container-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #ffab00;
}

.icon-burger {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.icon-burger img {
  width: 11rem;
  height: 11rem;
}
.container-nav a {
  font-size: 1.8rem;
  padding: 2rem;
}
.container-nav a:hover {
  font-size: 2.1rem;
  color: #fff;
}
.container-nav a::after {
  content: " | ";
}

/* Contenido Principal */

.container-main {
  display: flex;
  width: 100%;
  height: auto;
  background: #ffefd5;
}
.container-main div {
  width: 100%;
}

/* Lado izquiero y boton */

.div-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-img img {
  width: 100%;
  height: 23.7rem;
  margin: 4rem auto 0 auto;
}

.container-title {
  margin: 0.8rem auto 2rem auto;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-family: "Lora", serif;
  font-weight: bold;
}
.container-info {
  width: 70%;
  text-align: left;
  margin: 0 auto 2rem auto;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Merriweather", serif;
}

.boton {
  font-size: 2.5rem;
  width: 25rem;
  margin: 2rem auto 3rem auto;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #ffab00;
}
.boton:hover {
  color: #fff;
  font-size: 2.7rem;
}

/* Lado derecho */

.container-burger img {
  margin-top: 8rem;
  height: 30rem;
}

/* Productos */

.section-productos {
  background-color: #ffab00;
  height: auto;
}
.title-productos {
  padding-top: 3rem;
  padding-bottom: 5rem;
  font-size: 6rem;
  margin: 0;
}

.container-productos {
  display: flex;
  justify-content: center;
}
.producto {
  margin: 0 4rem 4rem 0;
  width: 23%;
  height: 35rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 7px 10px 37px #000;
}
.producto:hover {
  position: relative;
  bottom: 2rem;
}
.producto img {
  width: 12em;
  height: 12rem;
  margin: 4rem auto 0 auto;
}
.producto img:hover {
  transform: scale(1.1);
  transition: transorm 0.3s ease-out;
}
.producto p {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
}
.precio {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 10rem;
  padding: 0 2rem 2rem 2rem;
}
.precio p {
  font-size: 4rem;
  color: #008000;
}
.precio a {
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 4.5rem;
  background-color: #ffab00;
  border-radius: 4rem;
}
.precio a:hover {
  width: 5.5rem;
  height: 5.5rem;
  font-size: 5rem;
  color: #fff;
}
@media (max-width: 768px) {
  .container-principal h1 {
    font-size: 2rem;
  }
  .container-burger img {
    height: 20rem;
  }
}

@media (max-width: 425px) {
  .container-principal {
    height: 20rem;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container-nav a {
    padding: 0;
    font-size: 1.8rem;
  }
  .container-principal h1 {
    font-size: 2rem;
  }
  .main-img img {
    width: 100%;
    height: 27rem;
  }
  .container-burger img {
    width: 100%;
    height: 21rem;
    margin-bottom: 5rem;
  }
  .icon-burger {
    font-size: 2rem;
    flex-direction: column;
  }
  .container-main {
    flex-direction: column;
  }
  .title-productos {
    font-size: 3rem;
  }
  .container-productos {
    flex-direction: column;
  }
  .producto {
    width: 90%;
    margin: 4rem auto 3rem auto;
  }
}
